<a href="https://colab.research.google.com/github/darshanjoshi16/MachineLearningPracticals/blob/main/Practical%201/ML_Practical_1_Function_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Function Tutorial**

1. **Create a python function to generate the following series with its solution.**

3^2 + 4^2 + 5^2 + 6^2 + 7^2

In [ ]:
def series():
  
  #taking the value from the user
   enter = int(input("Enter the starting value:"))
   exiting = int(input("Enter the starting finishing value:"))
  
  #initializing the sum
   sum = 0;

   #loop iteration from the starting value to last value
   for i in range(enter,exiting+1):
      square = i * i
      sum = sum + square
      print(str(i)+"^2 +")
   
   print("="+str(sum))

#callback to the function  
series()

Enter the starting value:3
Enter the starting finishing value:7
3^2 +
4^2 +
5^2 +
6^2 +
7^2 +
=135

2. **Write a function to create a generator of square values ranging from 0 to
100**

In [ ]:
def square():
  
  #taking the value from the user
   enter = int(input("Enter the starting value:"))
   exiting = int(input("Enter the starting finishing value:"))
  
   #loop iteration from the starting value to last value
   for i in range(enter,exiting+1):
      print(str(i)+"^2 = "+str(i*i))
   
#callback to the function
square()

Enter the starting value:0
Enter the starting finishing value:100
0^2 = 0
1^2 = 1
2^2 = 4
3^2 = 9
4^2 = 16
5^2 = 25
6^2 = 36
7^2 = 49
8^2 = 64
9^2 = 81
10^2 = 100
11^2 = 121
12^2 = 144
13^2 = 169
14^2 = 196
15^2 = 225
16^2 = 256
17^2 = 289
18^2 = 324
19^2 = 361
20^2 = 400
21^2 = 441
22^2 = 484
23^2 = 529
24^2 = 576
25^2 = 625
26^2 = 676
27^2 = 729
28^2 = 784
29^2 = 841
30^2 = 900
31^2 = 961
32^2 = 1024
33^2 = 1089
34^2 = 1156
35^2 = 1225
36^2 = 1296
37^2 = 1369
38^2 = 1444
39^2 = 1521
40^2 = 1600
41^2 = 1681
42^2 = 1764
43^2 = 1849
44^2 = 1936
45^2 = 2025
46^2 = 2116
47^2 = 2209
48^2 = 2304
49^2 = 2401
50^2 = 2500
51^2 = 2601
52^2 = 2704
53^2 = 2809
54^2 = 2916
55^2 = 3025
56^2 = 3136
57^2 = 3249
58^2 = 3364
59^2 = 3481
60^2 = 3600
61^2 = 3721
62^2 = 3844
63^2 = 3969
64^2 = 4096
65^2 = 4225
66^2 = 4356
67^2 = 4489
68^2 = 4624
69^2 = 4761
70^2 = 4900
71^2 = 5041
72^2 = 5184
73^2 = 5329
74^2 = 5476
75^2 = 5625
76^2 = 5776
77^2 = 5929
78^2 = 6084
79^2 = 6241
80^2 = 6400
81^2 = 6561
82^2 = 6724
83^2 = 6889
84^2 = 7056
85^2 = 7225
86^2 = 7396
87^2 = 7569
88^2 = 7744
89^2 = 7921
90^2 = 8100
91^2 = 8281
92^2 = 8464
93^2 = 8649
94^2 = 8836
95^2 = 9025
96^2 = 9216
97^2 = 9409
98^2 = 9604
99^2 = 9801
100^2 = 10000

3. **Demonstrate the usage of map, reduce and filter function on a custom user
defined list**

In [8]:
from functools import reduce
#creation of user defined list
lst = []
lst2 = []
num = int(input("How many items you want to add in list: "))

for i in range(num):
  user_in = input("Enter the "+ str(i+1) +" content: ")
  lst.append(user_in)

# using the map function
# map() passes each element in the iterable through a function and returns the result of all elements having passed through the function
new_list= list(map(str.upper, lst))
print("List after using the Map Function")
print(new_list)

print("==============================================================")

#using the filter function
#filter() requires the function to return boolean values (true or false) and then passes each element in the iterable through the function
palindromes = list(filter(lambda word: word == word[::-1],lst))
print("List after using the filter function")
print(palindromes)


print("============================================================")

# using the reduce function
# reduce applies a function of two arguments cumulatively to the elements of an iterable, optionally starting with an initial argument.
for i in range(num):
  user_in = int(input("Enter the "+ str(i+1) +" content: "))
  lst2.append(user_in)

reduce_result = reduce(lambda num1, num2: num1 * num2, lst2)
print("List after using the reduce function:")
print(reduce_result)

How many items you want to add in list: 3
Enter the 1 content: madam
Enter the 2 content: damad
Enter the 3 content: darshan
List after using the Map Function
['MADAM', 'DAMAD', 'DARSHAN']
==============================================================
List after using the filter function
['madam', 'damad']
============================================================
Enter the 1 content: 45
Enter the 2 content: 4
Enter the 3 content: 6
List after using the reduce function:
1080

4. **Demonstrate the usage of any function with appropriate examples.**

In [10]:
#defining the prime number function which is boolean 
def is_prime(n):
    if n in [2, 3]:
        return True
    if n % 2 == 0:
        return False
    r = 3
    while r * r <= n:
        if n % r == 0:
            return False
        r += 2
    return True

#driver code for the function
num = int(input("For How many records you want to run the function: "))

for i in range(num):
  user_input = int(input("Enter the value:"))
  print(is_prime(user_input))

For How many records you want to run the function: 3
Enter the value:11
True
Enter the value:43
True
Enter the value:20
False

5. **Demonstrate the usage of zip function with appropriate examples.**

In [13]:
#creation of list
tup_1 = []
tup_2 = []

#entering the records into the first tuple
first = int(input("How many records do you want to enter into the first tuple: "))

for i in range(first):
  user_in = input("Enter the "+str(i+1)+" record: ")
  tup_1.append(user_in)

print("First Tuple")
print(tup_1)

#rntering the records into the second tuple
second = int(input("How many records do you want to enter into the second tuple: "))

for i in range(second):
  user_in = input("Enter the "+str(i+1)+" record: ")
  tup_2.append(user_in)

print("Second Tuple")
print(tup_2)


#using the zip function
print("After using the zip function")
x = list(zip(tup_1,tup_2))
print(x)

How many records do you want to enter into the first tuple: 3
Enter the 1 record: Darshan
Enter the 2 record: Ayush
Enter the 3 record: Shahid
First Tuple
['Darshan', 'Ayush', 'Shahid']
How many records do you want to enter into the second tuple: 4
Enter the 1 record: 54
Enter the 2 record: 65
Enter the 3 record: 76
Enter the 4 record: 4
Second Tuple
['54', '65', '76', '4']
After using the zip function
[('Darshan', '54'), ('Ayush', '65'), ('Shahid', '76')]